[Desktop Entry]
Type=Application
Name=Strata
GenericName=File Manager
GenericName[fr]=Gestionnaire de fichiers
GenericName[de]=Dateimanager
GenericName[es]=Gestor de archivos
GenericName[ja]=ファイルマネージャー
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[ko]=파일 관리자
GenericName[vi]=Trình quản lý tệp
GenericName[it]=Gestore di file
GenericName[ru]=Файловый менеджер
Comment=Navigate every layer
Comment[fr]=Parcourez chaque couche
Comment[de]=Durch jede Ebene navigieren
Comment[es]=Navega por cada capa
Comment[ja]=すべての階層をナビゲート
Comment[pt_BR]=Navegue por todas as camadas
Comment[ko]=모든 계층을 탐색
Comment[vi]=Duyệt qua mọi lớp
Comment[it]=Naviga in ogni livello
Comment[ru]=Перемещайтесь по всем уровням
Exec=strata %U
Icon=io.github.lgse.Strata
Terminal=false
Categories=Utility;FileTools;FileManager;
MimeType=inode/directory;
Keywords=files;folders;browser;explorer;manager;
Keywords[fr]=fichiers;dossiers;navigateur;explorateur;gestionnaire;
Keywords[de]=Dateien;Ordner;Browser;Explorer;Dateimanager;
Keywords[es]=archivos;carpetas;navegador;explorador;gestor;
Keywords[ja]=ファイル;フォルダー;ブラウザー;エクスプローラー;マネージャー;
Keywords[pt_BR]=arquivos;pastas;navegador;explorador;gerenciador;
Keywords[ko]=파일;폴더;브라우저;탐색기;관리자;
Keywords[vi]=tệp;thư mục;trình duyệt;trình khám phá;trình quản lý;
Keywords[it]=file;cartelle;browser;esplora;gestore;
Keywords[ru]=файлы;папки;обзор;проводник;менеджер;
StartupNotify=true
StartupWMClass=io.github.lgse.Strata
