pkgbase = strata-bin
	pkgdesc = A fast, keyboard-first file manager for Linux
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/lgse/strata
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	depends = bubblewrap
	depends = fontconfig
	depends = glibc>=2.39
	depends = gtk4>=4.12
	depends = gtksourceview5
	depends = poppler-glib
	optdepends = ffmpeg: video previews
	optdepends = ffmpegthumbnailer: video thumbnails
	optdepends = gst-libav: additional media format playback
	optdepends = gst-plugins-good: media playback in previews
	optdepends = gvfs-smb: SMB network locations
	optdepends = imagemagick: RAW image previews
	optdepends = libraw: RAW image previews when ImageMagick is unavailable
	provides = strata=0.7.0
	conflicts = strata
	conflicts = strata-rc-bin
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/lgse/strata/releases/download/v0.7.0/strata-0.7.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 55c9ca1a0c21a24191318bc161e99bcd64bc36a37794ab94501f1e7cdd9e2695
	source_aarch64 = https://github.com/lgse/strata/releases/download/v0.7.0/strata-0.7.0-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = 1dec8cf16917929887adad61dfc3bca897991f21cc0ece8da0e0f6169328f0a4

pkgname = strata-bin
